div.toolbar{

}

table {
        border-collapse:collapse;
}
table tr td {
        border: 1px solid red;
        padding:2px 15px 2px 15px;
        width:50px;
}
#tabs ul li.drophover {
        color:green;
}

img.thumbnail {
        max-width: 50px;
        max-height: 50px;
        transition: 0.1s;
}

img.thumbnail:hover {
        max-width: 500px;
        max-height: 500px;
        transition: 1s;
        transition-delay: 2s;
}
